.home-font-size{
    font-weight: bold;
    letter-spacing: 0px !important;
    font-family: Cerebri Sans,Roboto;
    opacity: 0.8 !important;
    color:#000000!important;
}

.home-font-size-text{
    
    letter-spacing: 0px !important;
    font-family: Cerebri Sans,Roboto;
    opacity: 0.8 !important;
}