<br>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card mt-3 mb-1 shadow-md bg-white rounded">
                <div class="card-header bg-white text-center">
                    <h2 class="home-font-size mt-2 mb-2">Confecciones El Condor</h2>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="card mt-1 mb-3 shadow-lg p-3 bg-white rounded">
                <form [formGroup]="form" (ngSubmit)="guardar( f )" #f="ngForm" novalidate="novalidate">
                <div class="form-group">
                <div class="card-body">
                    <h5 class="card-title text-center">Registro de entrada al restaurante</h5>
                    <hr>
                    <div class="container">
                        <div class="row">
                           
                                <div class="input-field mb-3 col-12 col-md-6">
                                    <span>Tipo de documento</span>
                                    <select name="tipo_documento"
                                            id="inputState" 
                                            class="form-control"
                                            formControlName="tipo_documento"
                                            [(ngModel)]="usuario.tipo_documento"
                                            [class.is-invalid]="tipoInvalido">
                                                                
                                            <option value="Cédula">Cédula de ciudadanía </option>
                                            <option value="Pasaporte">Pasaporte</option>
                                            <option value="Tarjeta">Tarjeta de identidad</option>
                                            <option value="Licencia">Licencia de conducción</option>                    
                                    </select>
                                    <small *ngIf="tipoInvalido" class="text-danger">
                                        Campo vacío o muy extenso
                                    </small>
                                </div>
                                <div class="input-field mb-3 col-12 col-md-6">
                                    <span>Número de documento</span>
                                    <input  type="number"
                                            name="numero_documento" 
                                            class="form-control" 
                                            formControlName ="numero_documento" 
                                            [(ngModel)]="usuario.numero_documento" 
                                            id="inputnumber"
                                            [class.is-invalid]="numeroInvalido">
                                            <small *ngIf="numeroInvalido" class="text-danger">
                                                El número tiene que estar entre 7 y 12 caracteres
                                            </small>
                                </div>
                                <div class="input-field mb-3 col-12 col-md-6">
                                    <span>Nombres</span>
                                    <input  type="text"
                                            name="nombre" 
                                            class="form-control" 
                                            formControlName ="nombre"
                                            [(ngModel)]="usuario.nombre"  
                                            id="inputname"
                                            [class.is-invalid]="nombreInvalido">
                                            <small *ngIf="nombreInvalido" class="text-danger">
                                                Campo vacío o muy extenso
                                            </small>
                                </div>
                                <div class="input-field mb-3 col-12 col-md-6">
                                    <span>Apellidos</span>
                                    <input  type="text"
                                            name="apellido" 
                                            class="form-control" 
                                            formControlName ="apellido"
                                            [(ngModel)]="usuario.apellido" 
                                            id="inputname"  
                                            [class.is-invalid]="apellidoInvalido">
                                            <small *ngIf="apellidoInvalido" class="text-danger">
                                                Campo vacío o muy extenso
                                            </small>
                                </div>
                                <div class="input-field mb-3 col-12 col-md-6">
                                    <span>Fecha de nacimiento</span>
                                    <input  type="date"
                                            name="fecha" 
                                            class="form-control" 
                                            formControlName ="fecha"
                                            [(ngModel)]="usuario.fecha"  
                                            id="inputname"
                                            [class.is-invalid]="fechaInvalido">
                                            <small *ngIf="fechaInvalido" class="text-danger">
                                                Campo vacío
                                            </small>
                                </div>
                                <div class="input-field mb-3 col-12 col-md-6">
                                    <span>Área</span>
                                    <input  type="text" 
                                            name="area"
                                            class="form-control" 
                                            formControlName ="area" 
                                            [(ngModel)]="usuario.area" 
                                            id="inputname"
                                            [class.is-invalid]="areaInvalido">
                                            <small *ngIf="areaInvalido" class="text-danger">
                                                Campo vacío o muy extenso
                                            </small>
                                </div>
                        </div>
                    </div>
                   
                    <div class="card-footer bg-white">
                        <button type ='submit' class="btn btn-dark btn-block" (click)="buttonClicked=0" >
                            Guardar
                            <i class="fa fa-floppy-o ml-1" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
            </form>
            </div>
        </div>

    </div>
</div>
<br>
