.footer-fon-size{
    font-weight: bold;
    letter-spacing: 0px !important;
    font-family: Cerebri Sans,Roboto;
    text-transform: uppercase;
}
.footer-fon-size-text{
    color: #000000;
    opacity: 0.7;
    letter-spacing: 0px !important;
    font-family: Cerebri Sans,Roboto;
}
.footer-fon-size-url{
    font-family: Cerebri Sans,Roboto;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}