<footer class="mt-0">
    <br>
    <div class="container text-center text-md-left mt-4">

        <div class="row">
            <div class="col-12 col-md-4">
                <h6 class="footer-fon-size">Ponte en contacto</h6>
                <p class="footer-fon-size-text">Ing. Maycol Sabogal Ardila</p>
                <p class="footer-fon-size-text">
                    <i class="fa fa-mobile fa-lg" aria-hidden="true"></i>
                    3113490285
                </p>
            </div> 
            
            <div class="col-12 col-md-4">
                <h6 class="footer-fon-size">Escribenos</h6>
                <p class="footer-fon-size-text">
                    <i class="fa fa-envelope fa-lg" aria-hidden="true"></i>
                    maycol.sabogal@gmail.com
            </div>

            <div class="col-12 col-md-4">
                <h6 class="footer-fon-size">Código fuente</h6>
                <p>
                    <i class="fa fa-gitlab fa-lg mr-1" aria-hidden="true"></i>
                    <a class="footer-fon-size-url" href="https://gitlab.com/msabogala/newsoft.git" target="_blank"><small>Ir al Gitlab </small></a>
                </p>
            </div>
        </div>
        </div>
    <div class="text-center" style="background-color:#EBEBEB;">
        <a style="color: #585858;"><small>© Copyright © 2020 Confecciones El Condor. Derechos Reservados.</small></a>
    </div>  
</footer>