<br>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card mt-3 mb-d shadow-md bg-white rounded">
                <div class="card-header bg-white text-center">
                    <h2 class="home-font-size mt-2 mb-2">Usuarios registrados</h2>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="card mt-3 mb-1 shadow-lg p-3 bg-white rounded">
                
                <div class="form-group">
                <div class="card-body">
                    <div class="container">
                        <div class="row">
                            <div class="table-responsive" >
                                <table class="table table-striped table-bordered">
                                    <thead class="thead-dark">
                                        <tr>
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Apellido</th>
                                        <th scope="col">Tipo de documento</th>
                                        <th scope="col">Número de documento</th>
                                        <th scope="col">Fecha de nacimiento</th>
                                        <th scope="col">Área</th>
                                        <th scope="col">Acción</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let usuario of usuarios; let i=index">
                                        <td>{{ usuario.nombre }}</td>
                                        <td>{{ usuario.apellido }}</td>
                                        <td>{{ usuario.tipo_documento }}</td>
                                        <td>{{ usuario.numero_documento }}</td>
                                        <td>{{ usuario.fecha }}</td>
                                        <td>{{ usuario.area }}</td>
                                        <td>
                                            <button class="btn btn-info btn-sm mr-1 mb-1" [routerLink]="['/edit', usuario.id_usuario ]">
                                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                            </button>
                                            <button class="btn btn-danger btn-sm mb-1" (click)="borrarUsuario(usuario, i)">
                                                <i class="fa fa-trash" aria-hidden="true"></i>
                                            </button>
                                        </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
            </div>
        </div>

    </div>
</div>
<br>
